.center-text {
    text-align: center;
}

.container {
    padding-right: -15px;
    padding-left: -15px;
}

.navbar {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

h1 {
    padding-top: 70px;
    font-size: 1.25em;
    text-align: center;
    color: black;
    font-family: quicksand;
}

h2 {
    font-size: 1.1em;
    text-align: center;
    color: black;
    font-family: quicksand;
    padding-bottom: 15%;
}

h3 {
    font-size: 1.1em;
    text-align: center;
    color: black;
    font-family: quicksand;
}

a:link {
    color: black;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
}

a:active {
    color: black;
}

.img-container {
    max-width: 100vh;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#toc {
    background-image: url('assets/spring2021/3\ \(F\)\ -\ Skylar\ Holland\ Title\ Page.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}

#start {
    color: black;
}

.text-over-img {
    z-index: 1;
    font-size: 5em;
    margin-top: -80%;
    color: black;
    padding-bottom: 60%;
    font-family: sigmar one;
}

.text-over-img1 {
    z-index: 1;
    text-align: left;
    font-size: 2em;
    margin-left: 20%;
    margin-top: -37%;
    color: black;
    padding-bottom: 5%;
    font-family: text me one;
}

.text-over-img2 {
    z-index: 1;
    text-align: left;
    font-size: 2em;
    margin-left: 20%;
    margin-top: -10%;
    color: black;
    padding-bottom: 5%;
    font-family: text me one;
}

.printables {
    background-color: #0D1E52;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: quicksand;
}

#image {
    text-align: center;
}

#clickme {
    cursor: pointer;
}

#factbuttons {
    background-image: url('assets/spring2021/0e3650.png');
}

#answer1 {
    text-align: center;
    font-family: quicksand;
}

#maze {
    text-align: center;
    font-family: quicksand;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

@media (max-width: 690px) {
    .text-over-img {
        font-size: 3.25em;
    }
}

@media (max-width: 600px) {
    .text-over-img {
        font-size: 3em;
    }

    .text-over-img1 {
        font-size: 1.5em;
    }

    .text-over-img2 {
        font-size: 1.5em;
    }
}

@media (max-width: 500px) {
    .text-over-img {
        font-size: 2.75em;
    }
}

@media (max-width: 450px) {
    .text-over-img {
        font-size: 2.5em;
    }

    .text-over-img1 {
        font-size: 1em;
        padding-bottom: 0%;
    }

    .text-over-img2 {
        padding-bottom: 0%;
        font-size: 1em;
    }
}

@media (max-width: 420px) {
    .text-over-img {
        font-size: 2.25em;
    }
}

@media (max-width: 390px) {
    .text-over-img {
        font-size: 2em;
    }
}

@media (max-width: 360px) {
    .text-over-img {
        font-size: 1.75em;
    }
}

@media (max-width: 300px) {
    .text-over-img {
        font-size: 1.5em;
    }
}

@media (max-width: 280px) {
    h1 {
        font-size: 0.2em;
        padding-top: 0px;
    }

    h3 {
        font-size: 0.1em;
    }

    h2 {
        font-size: 0.05em;
        padding-left: 40px;
        margin-bottom: 0px;
    }
}

@media (min-width: 280px) and (max-width: 380px) {
    h1 {
        font-size: 0.05em;
        padding-top: 0px;
    }

    h3 {
        font-size: 0.01em;
    }
    h2 {
        font-size: 0.01em;
        margin-bottom: 0px;
    }
}

@media (min-width: 300px) and (max-width: 320px) {
    h2 {
        padding-bottom: -5px;
        margin-bottom: 0px;
    }
}

@media (min-width: 320px) and (max-width: 340px) {
    h2 {
        padding-bottom: 30px;
        margin-bottom: 0px;
    }
}

@media (min-width: 340px) and (max-width: 360px) {
    h2 {
        padding-bottom: 50px;
        margin-bottom: 0px;
    }
}

@media (min-width: 360px) and (max-width: 380px) {
    h2 {
        padding-bottom: 70px;
        margin-bottom: 0px;
    }
}

@media (min-width: 380px) and (max-width: 540px) {
    h1 {
        font-size: 0.7em;
        padding-top: 0px;
    }

    h3 {
        font-size: 0.5em;
    }
    h2 {
        font-size: 0.5em;
        margin-bottom: 0px;
    }
}

@media (min-width: 380px) and (max-width: 400px) {
    h2 {
        padding-bottom: 100px;
        margin-bottom: 0px;
    }
}

@media (min-width: 400px) and (max-width: 420px) {
    h2 {
        padding-bottom: 120px;
        margin-bottom: 0px;
    }
}

@media (min-width: 420px) and (max-width: 440px) {
    h2 {
        padding-bottom: 140px;
        margin-bottom: 0px;
    }
}

@media (min-width: 440px) and (max-width: 540px) {
    h1 {
        font-size: 1em;
        padding-top: 0px;
    }

    h3 {
        font-size: 0.7em;
    }
    h2 {
        font-size: 0.7em;
        margin-bottom: 0px;
    }
}

@media (min-width: 440px) and (max-width: 460px) {
    h2 {
        padding-bottom: 70px;
        margin-bottom: 0px;
    }
}

@media (min-width: 460px) and (max-width: 480px) {
    h2 {
        padding-bottom: 90px;
        margin-bottom: 0px;
    }
}

@media (min-width: 480px) and (max-width: 500px) {
    h2 {
        padding-bottom: 100px;
        margin-bottom: 0px;
    }
}

@media (min-width: 500px) and (max-width: 520px) {
    h1 {
        padding-top: 20px;
    }

    h2 {
        padding-bottom: 140px;
        margin-bottom: 0px;
    }
}

@media (min-width: 520px) and (max-width: 540px) {
    h1 {
        padding-top: 20px;
    }

    h2 {
        padding-bottom: 170px;
        margin-bottom: 0px;
    }
}

@media (min-width: 540px) and (max-width: 620px) {
    h1 {
        font-size: 1.1em;
        padding-top: 20px;
    }

    h3 {
        font-size: .8em;
    }

    h2 {
        font-size: 0.8em;
        margin-bottom: 0px;
    }
}

@media (min-width: 540px) and (max-width: 570px) {
    h2 {
        padding-bottom: 90px;
    }
}

@media (min-width: 570px) and (max-width: 590px) {
    h2 {
        padding-bottom: 120px;
        margin-bottom: 0px;
    }
}

@media (min-width: 590px) and (max-width: 610px) {
    h2 {
        padding-bottom: 150px;
        margin-bottom: 0px;
    }
}

@media (min-width: 610px) and (max-width: 620px) {
    h2 {
        padding-bottom: 180px;
        margin-bottom: 0px;
    }
}

@media (min-width: 620px) and (max-width: 723px) {
    h1 {
        padding-top: 15px;
        font-size: 1.1em;
    }

    h3 {
        font-size: .9em;
    }

    h2 {
        font-size: .9em;
        margin-bottom: 0px;
    }
}

@media (min-width: 620px) and (max-width: 640px) {
    h2 {
        padding-bottom: 80px;
        margin-bottom: 0px;
    }
}

@media (min-width: 640px) and (max-width: 660px) {
    h2 {
        padding-bottom: 100px;
        margin-bottom: 0px;
    }
}

@media (min-width: 660px) and (max-width: 680px) {
    h2 {
        padding-bottom: 120px;
        margin-bottom: 0px;
    }
}

@media (min-width: 680px) and (max-width: 700px) {
    h1 {
        padding-top: 30px;
    }

    h2 {
        padding-bottom: 140px;
        margin-bottom: 0px;
    }
}

@media (min-width: 700px) and (max-width: 730px) {
    h1 {
        padding-top: 50px;
    }

    h2 {
        padding-bottom: 160px;
        margin-bottom: 0px;
        font-size: 1em;
    }

    @media (min-width: 730px) and (max-width: 750px) {
        h1 {
            font-size: 1.5em;
            padding-top: 70px;
        }

        h3 {
            font-size: 1.2em;
        }

        h2 {
            font-size: 1.2em;
            margin-bottom: 0px;
        }
    }

    @media (min-width: 723px) {
        .img-container {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding: none;
        }

        #whoweare {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #toc {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: -8px;
        }

        #questions {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
