input {
    all: unset;
}

label {
    all: unset;
}

#unscdir {
    background: rgba(123, 43, 50, 0.85);
}

#unsc {
    background-image: url('pg\ 18\ -\ Neha\ Vardhaman\ -\ Pixar\ Movies\ Unscramble.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
    padding-top: 4vh;
    padding-bottom: 1vh;
}

#unscbox {
   background: rgba(235, 221, 216, 0.8);
   padding-left: 1vw;
   padding-right: 1vw;
   padding-top: 1vh;
}

#unscans {
    background: rgba(252, 176, 76, 0.9);
    padding-left: 1vw;
    padding-right: 1vw;
}

#sg1 {
    padding-bottom: 1.5vh;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }

h7 {
    color: black;
    font-family: quicksand;
    font-size: 3vh;
    font-weight: 500;
}

h8 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.25vh;
    font-weight: bold;
}

h9 {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 6vh;
    font-weight: bold;
}
